In [1]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [2]:
address = 'Tokyo, Japan'
address.split(',')

['Tokyo', ' Japan']

In [3]:
address.split(' o')

['Tokyo, Japan']

In [4]:
address.split('o')

['T', 'ky', ', Japan']

In [5]:
address.split('J')

['Tokyo, ', 'apan']

In [6]:
address.upper()

'TOKYO, JAPAN'

In [7]:
len(address)

12

In [8]:
name= 'TARO'

In [9]:
name.upper()

'TARO'

In [10]:
address.index('T')

0

In [11]:
address.index('p')

9

In [12]:
address.index('o')

1

In [13]:
address.index('a')

8

In [14]:
address.index('g')

ValueError: substring not found

In [15]:
address.lower()

'tokyo, japan'

In [16]:
from datetime import *
date_a = date(2008, 1, 1)
date_b = date(2008, 1, 5)
result = date_b - date_a
print(result)

4 days, 0:00:00

In [17]:
date_a

datetime.date(2008, 1, 1)

In [18]:
date_a.year

2008

In [19]:
date_a.weekday()

1

In [20]:
date.today

In [21]:
date.today()

datetime.date(2017, 5, 17)

In [22]:
birthday = date(2017.9.9)

SyntaxError: invalid syntax (<ipython-input-22-08798affdfce>, line 1)

birthday = date(1996.9.9)

In [23]:
life = date_c - birthday

NameError: name 'date_c' is not defined

In [24]:
date_c = date.today()

In [25]:
life = date_c - birthday

NameError: name 'birthday' is not defined

tmp = date(1994,1,1)

In [26]:
birthday = date(1996,9,9)

In [27]:
life = date_c - birthday

In [28]:
print(life)

7555 days, 0:00:00

In [29]:
tmp = date(1994,1,1)

In [30]:
birthday.today()

datetime.date(2017, 5, 17)